body {
    background-image: url(../img/7.jpeg);

    background-repeat: no-repeat;
    background-size: cover;
}

.textoTitulo {
    font-size: 50px;
    color: white;
}

.texto{
    color: white;
    padding-top: 10px;
    font-size: 1rem;
    font-family: 'Itim', cursive;
    
  
}

.container-texto {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 200px;
}

.mapa-container {
    padding-left: 50px;
    padding-top: 100px;
}

